html,
body {
  font-family: "Inter", Roboto, Ubuntu, sans-serif;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.charts-wrapper {
  position: relative;
}

.three-line-legend {
  position: absolute;
  z-index: 10;
}
